<app-header title="Tab 4"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar> -->
  </ion-header>

  <ion-card>
        <div class="item">
          <div class="flex">
            <div class="itembox">
              <img src="assets/img/PHOTO-2022-09-30-21-45-15.jpg">
             </div>
        </div>
        <ion-title>Heading price weight</ion-title>
        <p>Buy buy buy...Buy buy buy...Buy buy buy...Buy buy buy...Buy buy buy...Buy buy buy...Buy buy buy...Buy buy buy...Buy buy buy...Buy buy buy...Buy buy buy...Buy buy buy...Buy buy buy...Buy buy buy...</p>
        </div>
        <ion-buttons class="flex">
          <ion-button color="secondary" fill="solid">Add to Cart</ion-button>
        </ion-buttons>
        <!-- <ion-buttons>
          <ion-button fill="outline" color="medium" size="small">LOGIN</ion-button>
          <ion-button fill="outline" color="medium" size="small">REGISTER</ion-button>
        </ion-buttons> -->
    </ion-card>
</ion-content>
