<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar> -->
  </ion-header>

  <ion-card>
    <ion-title align="center">Category</ion-title>
    <div class="item">
      <div class="flex">
        <div class="itembox">
          <img src="assets/img/PHOTO-2022-09-30-21-45-15.jpg">
        </div>
        <div>
          <ion-row>
            <ion-col *ngFor="let item of features" size="6">
              <div class="itembox">
                <table style="width:100%">
                  <tr>
                    <th>{{ item?.name }}</th>
                  </tr>
                  <tr>
                    <td>Alfreds Futterkiste</td>
                  </tr>
                  <tr>
                    <td>{{ item?.price }}</td>
                  </tr>
                </table>
              </div>

            </ion-col>
          </ion-row>
          <div class="itembox">
            <div class="flex">
              <div class="plus">-</div>
              <div class="plus">1</div>
              <div class="plus">+</div>
              <ion-buttons class="flex">
                <ion-button color="danger" fill="solid">Delete</ion-button>
              </ion-buttons>
            </div>
          </div>
        </div>
      </div>
    </div>


    <ion-buttons class="flex">
      <ion-button color="secondary" fill="solid">Add to Cart</ion-button>
    </ion-buttons>
    <!-- <ion-buttons>
          <ion-button fill="outline" color="medium" size="small">LOGIN</ion-button>
          <ion-button fill="outline" color="medium" size="small">REGISTER</ion-button>
        </ion-buttons> -->
  </ion-card>
</ion-content>