<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          <div class="logo">
            <img src="assets/data/logo.png" alt="logo">
          </div>
      </ion-buttons>

          <!-- {{title}} -->

          <!-- <div >
            <ion-img class="bgr" src="../../../assets/data/resolution-forest-on-transparent-picture-260nw-1965996322.webp"> 
            </ion-img> 
          </div>  -->
        <ion-title>
            {{title}}
        </ion-title>
      
      <ion-buttons slot="end">
      <!-- <button ion-button (click) = "showAlert()"> -->
          <ion-icon name="heart-outline"></ion-icon>
          <!-- <img src="assets/data/151910.png" class="icon"> -->
        <!-- </button> -->
      </ion-buttons>

      <ion-buttons slot="end">
      <!-- <button ion-button (click) = "showAlert()"> -->
        <ion-icon name="person-outline"></ion-icon>
        <!-- <img src="assets/data/3114957.png" class="icon"> -->
      <!-- </button> -->

    </ion-buttons>

    <ion-buttons slot="end">
      <!-- <button ion-button (click) = "showAlert()" fill="outline"> -->
      <ion-icon name="cart-outline"></ion-icon>
        <!-- <img src="assets/data/82243.png" class="icon"> -->
      <!-- </button> -->
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>