<app-header>
  <ion-toolbar>
    <ion-title>
      Index
    </ion-title>
  </ion-toolbar>
</app-header>

<ion-content [fullscreen]="true">
    <ion-toolbar>
      <ion-searchbar placeholder="Search by color"></ion-searchbar>
    </ion-toolbar>
  <ion-slides [options]="slideOptsOne">
    <ion-slide>
      <img src="assets/img/26854308df9d4a70929c750827c74a3a.webp" />
    </ion-slide>

    <ion-slide>
      <img src="assets/img/1654802539761.jpeg" />
    </ion-slide>

    <ion-slide>
      <img src="assets/img/coffee_beans.jpg" />
    </ion-slide>

    <ion-slide>
      <img src="assets/img/coffee-beans_620x330_61486142310.jpg" />
    </ion-slide>

    <ion-slide>
      <img src="assets/img/coffimages.jpg" />
    </ion-slide>

    <ion-slide>
      <img src="assets/img/intro-1660074915.webp" />
    </ion-slide>


    <ion-slide>
      <img src="assets/img/pexels-photo-894695.jpeg" />
    </ion-slide>

    <ion-slide>
      <img src="assets/img/DSC_8134_1.jpg" />
    </ion-slide>


    <ion-slide>
      <img src="assets/img/CoffeeBeansElixirBlend-1024x683.jpg" />
    </ion-slide>


    <ion-slide>
      <img src="assets/img/coffee-beans-15627365.jpg" />
    </ion-slide>
    
  </ion-slides>

  <ion-card class="cate">
  <ion-title>Shop By Category</ion-title>
    <ion-slides [options]="slideOptsp">
      <ion-slide>
        <img src="assets/img/pa1.jpg" />
      </ion-slide>

      <ion-slide>
        <img src="assets/img/pa2.jpg" />
      </ion-slide>


      <ion-slide>
        <img src="assets/img/pa3.jpg" />
      </ion-slide>


      <ion-slide>
        <img src="assets/img/pa4.jpg" />
      </ion-slide>


      <ion-slide>
        <img src="assets/img/pa5.jpg" />
      </ion-slide>


      <ion-slide>
        <img src="assets/img/pa6.jpg" />
      </ion-slide>

      <ion-slide>
        <img src="assets/img/pa7.jpg" />
      </ion-slide>


      <ion-slide>
        <img src="assets/img/pa4.jpg" />
      </ion-slide>

    </ion-slides>
  </ion-card>


  <ion-card class="cate3">
    <ion-title>Shop By Category</ion-title>
      <ion-slides [options]="slideOptsb">
        <ion-slide>
          <img src="assets/img/bean1.jpg" />
        </ion-slide>
  
        <ion-slide>
          <img src="assets/img/bean2.jpg" />
        </ion-slide>
  
  
        <ion-slide>
          <img src="assets/img/bean3.jpg" />
        </ion-slide>
  
  
        <ion-slide>
          <img src="assets/img/bean4.jpg" />
        </ion-slide>
  
  
        <ion-slide>
          <img src="assets/img/bean5.jpg" />
        </ion-slide>
  
  
        <ion-slide>
          <img src="assets/img/bean6.webp" />
        </ion-slide>
  
        <ion-slide>
          <img src="assets/img/bean5.jpg" />
        </ion-slide>
  
  
        <ion-slide>
          <img src="assets/img/bean4.jpg" />
        </ion-slide>
  
      </ion-slides>
    </ion-card>



  <ion-card class="cate2">
    <ion-title>Shop By Category</ion-title>
      <ion-slides [options]="slideOptsba">
        <ion-slide>
          <img src="assets/img/ba1.jpg" />
        </ion-slide>
  
        <ion-slide>
          <img src="assets/img/ba2.jpg" />
        </ion-slide>
  
  
        <ion-slide>
          <img src="assets/img/ba3.jpg" />
        </ion-slide>
  
  
        <ion-slide>
          <img src="assets/img/pa2_2.jpg" />
        </ion-slide>
  
  
        <ion-slide>
          <img src="assets/img/ba5.jpg" />
        </ion-slide>
  
  
        <ion-slide>
          <img src="assets/img/ba6.jpg" />
        </ion-slide>
  

  
      </ion-slides>
    </ion-card>

</ion-content>