<app-header title="Tab 2"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar> -->
  </ion-header>


  <ion-card>
    <ion-item href="#" class="ion-activated">
      <div class="flex">
        <ion-label>
          <p><b>Order No. 1</b></p>
        </ion-label>
        <ion-label>
          <p>Order Date: xx/xx/xx</p>
        </ion-label>
        <ion-label>
          <p>Order Detil: xx/xx/xx</p>
        </ion-label>
        <ion-label>
          <p>Price 100g $999</p>
        </ion-label>
      </div>
    </ion-item>
    <div class="flex2">
      <div class="processing">
      <label>Processing</label>
    </div>
  </div>
    <ion-item href="#" class="ion-activated">

      <div class="flex">
        <ion-label>
          <p><b>Order No. 2</b></p>
        </ion-label>
        <ion-label>
          <p>Order Date: xx/xx/xx</p>
        </ion-label>
        <ion-label>
          <p>Order Detil: xx/xx/xx</p>
        </ion-label>
        <ion-label>
          <p>Price 100g $999</p>
        </ion-label>
      </div>
    </ion-item>
    <div class="flex2">
      <div class="complated">
      <label>Complated</label>
    </div>
  </div>
    <ion-item href="#" class="ion-activated">
      <div class="flex">
        <ion-label>
          <p><b>Order No. 3</b></p>
        </ion-label>
        <ion-label>
          <p>Order Date: xx/xx/xx</p>
        </ion-label>
        <ion-label>
          <p>Order Detil: xx/xx/xx</p>
        </ion-label>
        <ion-label>
          <p>Price 100g $999</p>
        </ion-label>
      </div>
    </ion-item>
    <div class="flex2">
      <div class="complated">
      <label>Complated</label>
    </div>
  </div>
  </ion-card>
  
</ion-content>
