ion-card{
    margin: 10px;
    background-color: white;
    border-radius: 1vh;
    
    // box-shadow: 3px 3px;
}
ion-title{
    text-align: center;
}
ion-card-content{
    text-align: center;
}
ion-buttons{
    margin-bottom: 20px;
    align-items: center; 
    justify-content: center;
}
ion-button{
    // box-shadow: 1px 1px;
    min-width: 80px;

}
.buttonHover:hover  {
    // border: 1px solid rgba(138, 138, 138, 0.38);
    background-color: rgba(138, 138, 138, 0.1);
}

// ion-content{
//     --ion-background-color:rgba(240, 235, 235, 0.8);
// }



//slides



    img {      
        object-fit: cover;
        width: 100%;
        transform: scale(1.1, 1.1) rotate(1deg);
        transition: 600ms all ease-in-out;
        border-radius: 1vh;
        padding-left: 10px;
        padding-right: 10px;
    }


.swiper-slide-active {
    transform: scale(1.05, 1.05);

    ion-card {
        img {
            transform: scale(1, 1);
        }
    }
}

.swiper-slide {
    transition: 400ms all ease-in-out;
}

img {
    width: 100%;
    padding-right: 13px;
    opacity: 0.86;
  }
  
  img:hover {
    opacity:1.0;
  }
