<app-header title="Tab 5"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar> -->
  </ion-header>

  <ion-card>
    <ion-title>Category</ion-title>
        <div class="item">
          <div class="flex">
            <div class="itembox">
              <img src="assets/img/logo.png">
             </div>
             <div>
             <div class="itembox">
              <label><b>CoffeeBean 1</b></label><br>
              <label>Item1</label><br>
              <label>Item1 100g $999</label>
             </div>
             <div class="itembox">
              <div class="flex">
              <div class="plus">-</div>
              <div class="plus">1</div>
              <div class="plus">+</div>
              <ion-buttons class="flex">
                <ion-button color="danger" fill="solid">Delete</ion-button>
              </ion-buttons>
            </div>
            </div>
             </div>
        </div>
        </div>

        <div class="item">
          <div class="flex">
            <div class="itembox">
              <img src="assets/img/logo.png">
             </div>
             <div>
             <div class="itembox">
              <label><b>CoffeeBean 1</b></label><br>
              <label>Item1</label><br>
              <label>Item1 100g $999</label>
             </div>
             <div class="itembox">
              <div class="flex">
              <div class="plus">-</div>
              <div class="plus">1</div>
              <div class="plus">+</div>
              <ion-buttons class="flex">
                <ion-button color="danger" fill="solid">Delete</ion-button>
              </ion-buttons>
            </div>
            </div>
             </div>
        </div>
        </div>

        <div class="item">
          <div class="flex">
            <div class="itembox">
              <img src="assets/img/logo.png">
             </div>
             <div>
             <div class="itembox">
              <label><b>CoffeeBean 1</b></label><br>
              <label>Item1</label><br>
              <label>Item1 100g $999</label>
             </div>
             <div class="itembox">
              <div class="flex">
              <div class="plus">-</div>
              <div class="plus">1</div>
              <div class="plus">+</div>
              <ion-buttons class="flex">
                <ion-button color="danger" fill="solid">Delete</ion-button>
              </ion-buttons>
            </div>
            </div>
             </div>
        </div>
        </div>
        <ion-buttons class="flex">
          <ion-button color="secondary" fill="solid">Add to Cart</ion-button>
        </ion-buttons>
        <!-- <ion-buttons>
          <ion-button fill="outline" color="medium" size="small">LOGIN</ion-button>
          <ion-button fill="outline" color="medium" size="small">REGISTER</ion-button>
        </ion-buttons> -->
    </ion-card>
</ion-content>
