<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding" scroll-y="false">


</ion-content>
<!--About us slide content-->
<ion-app>
  <ion-content [fullscreen]="true">


    <ion-slides [options]="option" class="ion-margin-top">


      <ion-slide>
        <ion-card>
          <img src="../assets/data/logo1.jpg" alt="coffe beans">
          <h1><strong>Welcome to</strong></h1> <h2>Coffee Beans House</h2>
          <p>Your unique taste of choice</p>
          <div><ion-icon name="caret-forward-outline"></ion-icon></div>
          <img src="../assets/data/coffee.jpeg" alt="coffee" >
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <img src="../assets/data/coffee-roaster.jpg">
          <img src="../assets/data/BlueMountain.jpg">
          <p>
            Established in 2016 and styles itself as a one-stop-shop for all of your coffee needs. 
            For whole beans, ground coffee, capsules, or even accessories. We provide the finest coffees from sustainable producers around the world.</p>
            <ion-icon name="caret-forward-outline"></ion-icon>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <img src="../assets/data/medium.jpg">
          <h6>What you enjoy doing in leisure time?</h6><h6> Enjoy the best choices of coffee collecting around the globe</h6><p>For more Coffee workshops</p><p>Join us...enjoy our chat and the unfogatable aroma...see you</p>
          <a rel="fb" href="https://www.facebook.com/"><ion-button><ion-icon name="logo-facebook"></ion-icon></ion-button></a>
          <a rel="instagram" href="https://www.instagram.com/"><ion-button><ion-icon name="logo-instagram"></ion-icon></ion-button></a>
          <ion-icon name="caret-forward-outline"></ion-icon>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <img src="../assets/data/coffee-bar-1.jpg">
          <h3><strong>We invite you to our store:</strong></h3> <p>27 Irving St, Causeway Bay</p><p> 9:00am-5:00pm   Tel：26776677</p>
          <p></p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7383.789110112097!2d114.17703676977536!3d22.2819838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340401227e31a9cb%3A0x4e2a7016118ccda!2sHogan%20Coffee!5e0!3m2!1szh-TW!2shk!4v1664549459473!5m2!1szh-TW!2shk" width="330" height="270" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-content>
</ion-app>
<ion-toolbar>
<ion-tabs class="zindex">
  <!-- Tab bar -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/home" tab="speakers">
      <ion-icon name="home"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/login" tab="about">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>USER</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-toolbar>